.chats {
    position: relative;
    height: 400px;
    width: 250px;
}

.chats-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(45, 143, 176);
    height: 50px;
}

.chats-avatar {
    height: 25px !important;
    width: 25px !important;
}

.chats-search {
    display: flex;
    align-items: center;
    flex: 1;
    padding-left: 8px;
}

.chats-searchicon {
    color: white;
    font-size: 13px !important;
}

.chats-chaticon {
    color: white;
    font-size: 18px !important;
}

.chats-search > input {
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 12px;
    flex: 1;
    color: white;
}

.chats-search > input::placeholder {
    color: white;
    opacity: 1;
}

.chats-posts {
    box-shadow: 1px -7px 7px -6px rgba(0, 0, 0, 0.44); 
    height: 359px;
    margin-top: -9px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    overflow: scroll;
}

.chats-posts::-webkit-scrollbar {
    display: none;
}

.chats-takepicicon {
    position: absolute;
    background-color: transparent;
    border-radius: 200px;
    color: grey;
    font-size: 40px !important;
    cursor: pointer;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.chats-takepicicon:hover {
    opacity: 0.8;
}