.chatview {
    position: relative;
}

.chatview > img {
    cursor: pointer;
}

.chatview-timer {
    position: absolute;
    border-radius: 100px;
    color: white;
    font-size: 15px !important;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}