.login {
    background-color: #6b5b95;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
}

.login-container {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: black;
    padding: 8px;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
}

.login-container > p {
    padding-left: 8px;
}