.camera {
    position: relative;
}

.camera-button {
    position: absolute;
    background-color: white;
    border-radius: 200px;
    color: grey;
    font-size: 40px !important;
    cursor: pointer;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}